@font-face {
  font-family: "Mulish-Regular";
  src: url("Mulish-Regular.woff") format("woff"),
    url("Mulish-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mulish-Light";
  src: url("Mulish-Light.woff") format("woff"),
    url("Mulish-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mulish-SemiBold";
  src: url("Mulish-SemiBold.woff") format("woff"),
    url("Mulish-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mulish-Bold";
  src: url("Mulish-Bold.woff") format("woff"),
    url("Mulish-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-Regular";
  src: url("Nunito-Regular.woff") format("woff"),
    url("Nunito-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-ExtraBold";
  src: url("Nunito-ExtraBold.woff") format("woff"),
    url("Nunito-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-SemiBold";
  src: url("Nunito-SemiBold.woff") format("woff"),
    url("Nunito-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
