.header
  background: #ffffff
  &__top
    display: flex
    flex-wrap: wrap
    padding: 40px 0
    justify-content: space-between
    align-items: center
  &__search
    margin-right: auto
    margin-left: 10%

.logo
  &__img
    max-width: 177px

.search
  display: flex
  position: relative
  z-index: 1
  display: flex
  overflow: hidden
  &__form-item
    width: 350px
    height: 40px
    padding-left: 23px
    padding-right: 75px
    background-color: $light-color
    border: none
    border-radius: 6px
    font-size: 12px
    line-height: 15px
    opacity: 1
    transition: 0.1s
    &:focus
      outline: none
    &:focus
      &::placeholder
        opacity: 0

  &__button
    z-index: 0
    position: absolute
    right: 0
    top: 0
    bottom: 0
    padding: 12px 24px
    border-radius: 0 6px 6px 0
    &:focus
      outline: none

.avatar
  border-radius: 50%
  width: 40px
  height: 40px
  object-fit: cover

.user
  display: flex
  justify-content: flex-end
  align-items: center
  &__avatar
    margin-right: 18px
  &__name
    text-decoration: none
    cursor: pointer
    font-size: 14px
    line-height: 18px
    +m-regular

.burger
  position: relative
  display: none
  flex-direction: column
  justify-content: space-between
  width: 16px
  height: 11px
  border: none
  background-color: transparent
  padding: 0
  cursor: pointer

  &__line
    width: 16px
    height: 1px
    background-color: $black-font
    opacity: 1
    transition: 0.3s all
    &-active
      &:first-of-type
        position: absolute
        top: 50%
        transform: rotate(45deg)
      &:nth-of-type(2)
        opacity: 0
      &:last-of-type
        position: absolute
        top: 50%
        transform: rotate(-45deg)

.header-nav
  background: $blue-color
  padding: 31px 0

.nav
  &-search
    display: none
  &-user
    display: none

.nav__menu
  display: flex
  justify-content: space-between
  padding: 0
  &-item
    list-style: none
  &-link
    position: relative
    text-decoration: none
    color: $white-font
    text-transform: uppercase
    +m-bold
    font-size: 14px
    line-height: 18px
    &::after
      content: ""
      display: block
      background-color: #ffffff
      height: 1px
      width: 0%
      left: 50%
      position: absolute
      transition: width 0.2s ease-in-out
      transform: translateX(-50%)
    &:hover
      &::after
        width: 100%
