*
  box-sizing: border-box
  margin: 0
  +m-regular
  color: $black-font

body
  background-color: $light-color
  position: relative

.container
  max-width: 1110px
  margin: 0 auto

.button
  background: #EC1F46
  border: none
  cursor: pointer