*
  box-sizing: border-box
  margin: 0
  +m-regular
  color: $black-font

body
  background-color: $light-color
  position: relative

button
  &:focus
    outline: none

.container
  max-width: 1110px
  margin: 0 auto

.button
  background: $red-color
  border: none
  cursor: pointer
  color: $white-font

.section-title
  font-size: 36px
  line-height: 45px
  text-align: center
  text-transform: uppercase

@media (max-width: 730px)
  .section-title
    font-size: 20px
    line-height: 26px
