// @media (max-width: 1200px)

@media (max-width: 992px)
  .modal
  	position: fixed
  	left: 0
  	right: 0
  	top: 0
  	bottom: 0
  	height: 100vh
  	z-index: 999
  	text-align: center
  	background: rgba(0, 143, 223, 0.39)

  &-wrapper
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 0
    left: 0
    margin: 0 auto
    max-width: 478px
    min-height: 487px
    padding: 33px 88px
    background-color: $modal
    border-radius: 8px

// @media (max-width: 810px)

// @media (max-width: 730px)

// @media  (max-width: 630px)
