// @media (max-width: 1200px)

@media (max-width: 992px)
  .grid-box
  	display: grid
  	grid-template-columns: repeat(2, 1fr)
  	grid-template-rows: repeat(2, 1fr)
  	grid-gap: 30px
  
  .other__img
    // width: 100%

// @media (max-width: 810px)

// @media (max-width: 730px)

// @media  (max-width: 630px)
