@media (max-width: 1200px)
  .other-grid
    grid-gap: 1em

  .other__button
    padding: 11px 10px
    min-width: 90px

@media (max-width: 992px)
  .other__button
    padding: 11px 27px

@media (max-width: 730px)

  .other__button
    padding: 11px 11px

  .price-now
    font-size: 20px

@media (max-width: 730px)

  .other
    padding-top: 0
    &-title
      margin-bottom: 42px
    &-grid
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr))

    &-card-big
      grid-column-end: 2
    &__img
      max-height: 240px

  .other-card-big
    flex-direction: column

    .card-big-img
      width: 100%
      min-height: 240px

    .card-big-description
      width: 100%

@media (max-width: 630px)
  .card-big-text
    display: none

@media (min-width: 300px) and (max-width: 480px)

  .other
    &-card
      &__description
        padding: 30px 21px 25px 21px;
      &__img
        max-height: 150px
        overflow: hidden
    &__img
      max-height: 150px
    &-grid
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
  .other-card-big
    .card-big-img
      min-height: 170px
  .other-card-big
    .card-big-description
      padding: 0 21px 30px 21px
